{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "binaryLiterals": false,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "generators": true,
      "modules": false,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": false,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "octalLiterals": false,
      "regexUFlag": false,
      "regexYFlag": false,
      "restParams": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "unicodePointEscapes": true,
      "globalReturn": false,
      "jsx": true
    }
  },
  "globals": {
    "THREE": true,
    "expect": true
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "babel",
    "react"
  ],
  "extends": "airbnb",
  "rules": {
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/href-no-hash": 0,
    "max-len": [
      1,
      140
    ],
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "react/jsx-indent": [
      "error",
      4
    ],
    "react/jsx-indent-props": [
      "error",
      4
    ],
    "comma-dangle": 0,
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0,
    "no-plusplus": 0,
    "no-extend-native": 0,
    "no-lonely-if": 0,
    "arrow-body-style": [
      2,
      "as-needed"
    ],
    "react/no-did-mount-set-state": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-unused-expressions": [
      "error",
      {
        "allowShortCircuit": true,
        "allowTernary": true
      }
    ]
  }
}
